<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JS工具类</title>
<link href="../style/style.css" rel="stylesheet" type="text/css" />

<script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="../js/TweenMax.min.js" type="text/javascript"></script>
<script src="../js/main.js" type="text/javascript"></script>

</head>
<body>

<div id="intro">
    
    <div class="electro obj">
        <div class="wrap">
           <!--  <div class="ele obj"><a href="#"><img src="../images/intro_electro.png" /></a></div> -->
            <div class="el1 obj"><a href="#"><img src="../images/intro_element_1.png" width="45" /></a></div>
            <div class="el2 obj"><a href="tool.html"><img src="../images/intro_element_2.png" width="62.5" /></a></div>
            <div class="el3 obj"><a href="#"><img src="../images/intro_element_3.png" width="45" /></a></div>
            <div class="el4 obj"><a href="#"><img src="../images/intro_element_4.png" width="40" /></a></div>
            <div class="el5 obj"><a href="#"><img src="../images/intro_element_5.png" width="35" /></a></div>
            <div class="el6 obj"><a href="#"><img src="../images/intro_element_6.png" width="35" /></a></div>
            <div class="el7 obj"><a href="#"><img src="../images/intro_element_7.png" width="35" /></a></div>
            <div class="el8 obj"><a href="#"><img src="../images/intro_element_8.png" width="30" /></a></div>
            <div class="el9 obj"><a href="#"><img src="../images/intro_element_9.png" width="45" /></a></div>
            <div class="el10 obj"><a href="#"><img src="../images/intro_element_10.png" width="30" /></a></div>
            <div class="el11 obj"><a href="#"><img src="../images/intro_element_11.png" width="45" /></a></div>
            <div class="el12 obj"><a href="#"><img src="../images/intro_element_12.png" width="45" /></a></div>
            <div class="el13 obj"><a href="#"><img src="../images/intro_element_13.png" width="45" /></a></div>
        </div>
    </div>
    
</div>

</body>
</html>

