@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font-family:'Nanum Gothic';color:#000000;background-image:url("../images/bg.png");}

/* intro */
#intro{width:520px;height:520px;overflow:hidden;position:relative;margin:0px auto;}
#intro .obj{position:absolute;}

#intro .electro{z-index:7;top:160px;margin:0px auto;display:none;}
#intro .electro .wrap{position:relative;}
#intro .electro .wrap .ele{top:120px;left:120px;z-index:8}
#intro .electro .wrap .el1{top:70px;left:20px;}
#intro .electro .wrap .el2{top:40px;left:120px;}
#intro .electro .wrap .el3{top:120px;left:90px;}
#intro .electro .wrap .el4{top:10px;left:170px;}
#intro .electro .wrap .el5{top:90px;left:180px;}
#intro .electro .wrap .el6{top:50px;left:210px;}
#intro .electro .wrap .el7{top:60px;left:270px;}