<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>种植管理</title>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/management.css">
</head>

<body>
  <header></header>
  <aside></aside>
  <div class="scheduling-main">
    <nav class="nav-head">
      <span>产中管理<i class="color-gray arrow">></i>种植管理</span>
    </nav>
    <div class="scheduling-content">
      <div class="scheduling-search">
        <input type="text" placeholder="搜索种植作物或地块">
        <button>搜索</button>
        <span class="delete">导出</span>
        <span class="scheduling-add">添加</span>
      </div>
     
        <div class="tab tab-grow">
          <ul class="tab-grow-ul">
            <li class="tab-head">全部</li>
            <li class="tab-head bg-green">当前种植</li>
            <li class="tab-head">历史种植</li>
            <li class="tab-head">计划种植</li>
          </ul>
          <div class="tab-cont hide">
            <div class="grow-content">
              <img src="../images/xx_11.png" height="12" width="22" class="arrow-grow hide">
              <div class="left grow-img">
                <img src="../images/grow.png">
                <span>面积 10 亩</span>
              </div>
              <div class="left w07">
                <p><span class="color-gray">BJ-01-01号大棚 </span>
                  <a href="#"><img src="../images/cccc_03.png" class="cheduling-icon vs" style="margin-left:10px;"></a> 
                  <img src="../images/tu_21.png" class="right scheduling-icon">
                  <img src="../images/tu_15.png" class="right scheduling-icon">
                </p>
                <p class="mt10 to-grow-message">青花菜(西兰花)-青秀花菜</p>
                <span class="font12 color-gray" style="margin:3px 0 0 30%">12天</span>
                <p style="margin-top:-5px;">
                  <span class="bg-green grow-time" style="width:40%"></span>
                  <span class="bg-gray grow-time" style="width:60%"></span>
                  <span class="left color-gray font12">4.12</span>
                  <img src="../images/cccc_07.png" height="12" width="12" style=" margin-left:23%">
                  <span class="right color-gray font12">5.12</span>
                </p>
              </div>  
              <div class="grow-message hide">
                <span class="close-grow">X</span>
                <div class="left grow-message-img">
                  <img src="../images/cccc_11.png" class="grow-rule-img" height="46" width="46">
                  <img src="../images/grow.png">
                  <span>BJ-01-01号大棚 番杏(番杏)</span>
                </div>
                <div class="tab tab-mess">
                  <ul class="tab-message">
                    <li class="tab-head">农事信息</li>
                    <li class="tab-head bg-green">种植信息</li>
                    <li class="tab-head">环境监控</li>
                  </ul>
                  <img src="../images/border-right.jpg" class="left border-mess-left">
                  <div class="tab-cont hide grow-mess nongshi">
                     <a href="growRecord.html" class="to-record">
                       <img src="../images/tu_03.png" height="16" width="16" style="vertical-align: sub;"><span style="margin-top:4px;">农事评估</span>
                     </a>
                     <img src="../images/pinggu.png" class="record-img">
                     <table class="border" border="1">
                       <tr>
                         <td><</td>
                         <td>2017-01</td>
                         <td>></td>
                       </tr>
                       <tr>
                         <td>十一月小</td>
                         <td style="font-size: 50px;">12</td>
                         <td>星期六</td>
                       </tr>
                       <tr>
                         <td></td>
                         <td>
                          <span>发布时间：08:00</span>
                          <span>农事内容：浇水</span><br>
                          <span>工时：4.0小时</span>
                          <span>发布来源：网站、手机</span><br>
                          <span>添加人：榆树农业人局</span>
                        </td>
                         <td></td>
                       </tr>
                     </table>
                  </div>
                  <div class="tab-cont show grow-mess">
                    <div class="grow-mess-user">
                      <p>农户：王忠平</p> 
                      <p>3.9亩/3.93亩</p>
                      <p>工单号：XIHERYGNITTI22</p> 
                      <p>未来一天预产量 0 kg</p>
                      <p>实时市场价格￥4.4元/kg</p>
                    </div>
                    <span class="stop">
                      <img src="../images/cccc_15.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">定植时间 <br> 2016-12-02</span>
                    </span>
                    <span class="stop" style="border-right:0">
                      <img src="../images/cccc_17.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">采收时间 <br> 2016-12-02</span>
                    </span>
                    <span class="stop">
                      <img src="../images/cccc_19.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">种植结束 <br> 2016-12-02</span>
                    </span>
                    <span class="stop">
                      <img src="../images/cccc_21.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">当生长周期前 <br> 2016-12-02</span>
                    </span>
                    <img src="../images/border.png" height="10" width="787" class="mt10">
                    <table class="text-left">
                      <tr>
                        <td></td>
                        <td>一月</td>
                        <td>二月</td>
                        <td>三月</td>
                        <td>四月</td>
                        <td>五月</td>
                        <td>六月</td>
                        <td>七月</td>
                        <td>八月</td>
                        <td>九月</td>
                        <td>十月</td>
                        <td>十一月</td>
                        <td>十二月</td>
                      </tr>
                      <tr>
                        <td>预估产量</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>3.9</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                      </tr>
                      <tr>
                        <td>已收产量</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                      </tr>
                    </table>
                  </div>
                  <div class="tab-cont hide grow-mess huanjing">
                    <div class="grow-mess-user center">
                      <img src="../images/sscd_24.png" height="53" width="60"><br>
                      <p style="line-height: 1.5;">暂未获得环境监控数据！请检查设备是否正常运转，或者联系我们！</p>
                    </div>
                    <span class="stop">
                      <img src="../images/cccc_15.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">空气湿度 <br> --</span>
                    </span>
                    <span class="stop" style="border-right:0">
                      <img src="../images/cccc_17.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">空气温度 <br> 2016-12-02</span>
                    </span>
                    <span class="stop" style="border-right:0">
                      <img src="../images/cccc_19.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">土壤湿度 <br> 2016-12-02</span>
                    </span>
                    <span class="stop">
                      <img src="../images/cccc_21.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">光照 <br> 2016-12-02</span>
                    </span>
                  </div>
                </div>
              </div>       
            </div>
          </div>
          <div class="tab-cont show">
            <div class="grow-content">
              <img src="../images/xx_11.png" height="12" width="22" class="arrow-grow">
              <div class="left grow-img">
                <img src="../images/grow.png">
                <span>面积 10 亩</span>
              </div>
              <div class="left w07">
                <p><span class="color-gray">BJ-01-01号大棚 </span>
                  <a href="#"><img src="../images/cccc_03.png" class="cheduling-icon vs" style="margin-left:10px;"></a> 
                  <img src="../images/tu_21.png" class="right scheduling-icon">
                  <img src="../images/tu_15.png" class="right scheduling-icon">
                </p>
                <p class="mt10 to-grow-message">青花菜(西兰花)-青秀花菜</p>
                <span class="font12 color-gray" style="margin:3px 0 0 30%">12天</span>
                <p style="margin-top:-5px;">
                  <span class="bg-green grow-time" style="width:40%"></span>
                  <span class="bg-gray grow-time" style="width:60%"></span>
                  <span class="left color-gray font12">4.12</span>
                  <img src="../images/cccc_07.png" height="12" width="12" style=" margin-left:23%">
                  <span class="right color-gray font12">5.12</span>
                </p>
              </div>  
              <div class="grow-message">
                <span class="close-grow">X</span>
                <div class="left grow-message-img">
                  <img src="../images/cccc_11.png" class="grow-rule-img" height="46" width="46">
                  <img src="../images/grow.png">
                  <span>BJ-01-01号大棚 番杏(番杏)</span>
                </div>
                <div class="tab tab-mess">
                  <ul class="tab-message">
                    <li class="tab-head">农事信息</li>
                    <li class="tab-head bg-green">种植信息</li>
                    <li class="tab-head">环境监控</li>
                  </ul>
                  <img src="../images/border-right.jpg" class="left border-mess-left">
                  <div class="tab-cont hide grow-mess nongshi">
                     <a href="growRecord.html" class="to-record">
                       <img src="../images/tu_03.png" height="16" width="16" style="vertical-align: sub;"><span style="margin-top:4px;">农事评估</span>
                     </a>
                     <img src="../images/pinggu.png" class="record-img">
                     <table class="border" border="1">
                       <tr>
                         <td><</td>
                         <td>2017-01</td>
                         <td>></td>
                       </tr>
                       <tr>
                         <td>十一月小</td>
                         <td style="font-size: 50px;">12</td>
                         <td>星期六</td>
                       </tr>
                       <tr>
                         <td></td>
                         <td>
                          <span>发布时间：08:00</span>
                          <span>农事内容：浇水</span><br>
                          <span>工时：4.0小时</span>
                          <span>发布来源：网站、手机</span><br>
                          <span>添加人：榆树农业人局</span>
                        </td>
                         <td></td>
                       </tr>
                     </table>
                  </div>
                  <div class="tab-cont show grow-mess">
                    <div class="grow-mess-user">
                      <p>农户：王忠平</p> 
                      <p>3.9亩/3.93亩</p>
                      <p>工单号：XIHERYGNITTI22</p> 
                      <p>未来一天预产量 0 kg</p>
                      <p>实时市场价格￥4.4元/kg</p>
                    </div>
                    <span class="stop">
                      <img src="../images/cccc_15.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">定植时间 <br> 2016-12-02</span>
                    </span>
                    <span class="stop" style="border-right:0">
                      <img src="../images/cccc_17.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">采收时间 <br> 2016-12-02</span>
                    </span>
                    <span class="stop">
                      <img src="../images/cccc_19.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">种植结束 <br> 2016-12-02</span>
                    </span>
                    <span class="stop">
                      <img src="../images/cccc_21.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">当生长周期前 <br> 2016-12-02</span>
                    </span>
                    <img src="../images/border.png" height="10" width="787" class="mt10">
                    <table class="text-left">
                      <tr>
                        <td></td>
                        <td>一月</td>
                        <td>二月</td>
                        <td>三月</td>
                        <td>四月</td>
                        <td>五月</td>
                        <td>六月</td>
                        <td>七月</td>
                        <td>八月</td>
                        <td>九月</td>
                        <td>十月</td>
                        <td>十一月</td>
                        <td>十二月</td>
                      </tr>
                      <tr>
                        <td>预估产量</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>3.9</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                      </tr>
                      <tr>
                        <td>已收产量</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                      </tr>
                    </table>
                  </div>
                  <div class="tab-cont hide grow-mess huanjing">
                    <div class="grow-mess-user center">
                      <img src="../images/sscd_24.png" height="53" width="60"><br>
                      <p style="line-height: 1.5;">暂未获得环境监控数据！请检查设备是否正常运转，或者联系我们！</p>
                    </div>
                    <span class="stop">
                      <img src="../images/cccc_15.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">空气湿度 <br> --</span>
                    </span>
                    <span class="stop" style="border-right:0">
                      <img src="../images/cccc_17.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">空气温度 <br> 2016-12-02</span>
                    </span>
                    <span class="stop" style="border-right:0">
                      <img src="../images/cccc_19.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">土壤湿度 <br> 2016-12-02</span>
                    </span>
                    <span class="stop">
                      <img src="../images/cccc_21.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">光照 <br> 2016-12-02</span>
                    </span>
                  </div>
                </div>
              </div>       
            </div>
            <div class="grow-content">
              <img src="../images/xx_11.png" height="12" width="22" class="arrow-grow hide">
              <div class="left grow-img">
                <img src="../images/grow.png">
                <span>面积 10 亩</span>
              </div>
              <div class="left w07">
                <p><span class="color-gray">BJ-01-01号大棚 </span>
                  <a href="#"><img src="../images/cccc_03.png" class="cheduling-icon vs" style="margin-left:10px;"></a> 
                  <img src="../images/tu_21.png" class="right scheduling-icon">
                  <img src="../images/tu_15.png" class="right scheduling-icon">
                </p>
                <p class="mt10 to-grow-message">青花菜(西兰花)-青秀花菜</p>
                <span class="font12 color-gray" style="margin:3px 0 0 30%">12天</span>
                <p style="margin-top:-5px;">
                  <span class="bg-green grow-time" style="width:40%"></span>
                  <span class="bg-gray grow-time" style="width:60%"></span>
                  <span class="left color-gray font12">4.12</span>
                  <img src="../images/cccc_07.png" height="12" width="12" style=" margin-left:23%">
                  <span class="right color-gray font12">5.12</span>
                </p>
              </div>  
              <div class="grow-message hide">
                <span class="close-grow">X</span>
                <div class="left grow-message-img">
                  <img src="../images/cccc_11.png" class="grow-rule-img" height="46" width="46">
                  <img src="../images/grow.png">
                  <span>BJ-01-01号大棚 番杏(番杏)</span>
                </div>
                <div class="tab tab-mess">
                  <ul class="tab-message">
                    <li class="tab-head">农事信息</li>
                    <li class="tab-head bg-green">种植信息</li>
                    <li class="tab-head">环境监控</li>
                  </ul>
                  <img src="../images/border-right.jpg" class="left border-mess-left">
                  <div class="tab-cont hide grow-mess nongshi">
                     <a href="growRecord.html" class="to-record">
                       <img src="../images/tu_03.png" height="16" width="16" style="vertical-align: sub;"><span style="margin-top:4px;">农事评估</span>
                     </a>
                     <img src="../images/pinggu.png" class="record-img">
                     <table class="border" border="1">
                       <tr>
                         <td><</td>
                         <td>2017-01</td>
                         <td>></td>
                       </tr>
                       <tr>
                         <td>十一月小</td>
                         <td style="font-size: 50px;">12</td>
                         <td>星期六</td>
                       </tr>
                       <tr>
                         <td></td>
                         <td>
                          <span>发布时间：08:00</span>
                          <span>农事内容：浇水</span><br>
                          <span>工时：4.0小时</span>
                          <span>发布来源：网站、手机</span><br>
                          <span>添加人：榆树农业人局</span>
                        </td>
                         <td></td>
                       </tr>
                     </table>
                  </div>
                  <div class="tab-cont show grow-mess">
                    <div class="grow-mess-user">
                      <p>农户：王忠平</p> 
                      <p>3.9亩/3.93亩</p>
                      <p>工单号：XIHERYGNITTI22</p> 
                      <p>未来一天预产量 0 kg</p>
                      <p>实时市场价格￥4.4元/kg</p>
                    </div>
                    <span class="stop">
                      <img src="../images/cccc_15.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">定植时间 <br> 2016-12-02</span>
                    </span>
                    <span class="stop" style="border-right:0">
                      <img src="../images/cccc_17.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">采收时间 <br> 2016-12-02</span>
                    </span>
                    <span class="stop">
                      <img src="../images/cccc_19.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">种植结束 <br> 2016-12-02</span>
                    </span>
                    <span class="stop">
                      <img src="../images/cccc_21.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">当生长周期前 <br> 2016-12-02</span>
                    </span>
                    <img src="../images/border.png" height="10" width="787" class="mt10">
                    <table class="text-left">
                      <tr>
                        <td></td>
                        <td>一月</td>
                        <td>二月</td>
                        <td>三月</td>
                        <td>四月</td>
                        <td>五月</td>
                        <td>六月</td>
                        <td>七月</td>
                        <td>八月</td>
                        <td>九月</td>
                        <td>十月</td>
                        <td>十一月</td>
                        <td>十二月</td>
                      </tr>
                      <tr>
                        <td>预估产量</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>3.9</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                      </tr>
                      <tr>
                        <td>已收产量</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                      </tr>
                    </table>
                  </div>
                  <div class="tab-cont hide grow-mess huanjing">
                    <div class="grow-mess-user center">
                      <img src="../images/sscd_24.png" height="53" width="60"><br>
                      <p style="line-height: 1.5;">暂未获得环境监控数据！请检查设备是否正常运转，或者联系我们！</p>
                    </div>
                    <span class="stop">
                      <img src="../images/cccc_15.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">空气湿度 <br> --</span>
                    </span>
                    <span class="stop" style="border-right:0">
                      <img src="../images/cccc_17.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">空气温度 <br> 2016-12-02</span>
                    </span>
                    <span class="stop" style="border-right:0">
                      <img src="../images/cccc_19.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">土壤湿度 <br> 2016-12-02</span>
                    </span>
                    <span class="stop">
                      <img src="../images/cccc_21.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">光照 <br> 2016-12-02</span>
                    </span>
                  </div>
                </div>
              </div>       
            </div>
            <div class="grow-content">
              <img src="../images/xx_11.png" height="12" width="22" class="arrow-grow hide">
              <div class="left grow-img">
                <img src="../images/grow.png">
                <span>面积 10 亩</span>
              </div>
              <div class="left w07">
                <p><span class="color-gray">BJ-01-01号大棚 </span>
                  <a href="#"><img src="../images/cccc_03.png" class="cheduling-icon vs" style="margin-left:10px;"></a> 
                  <img src="../images/tu_21.png" class="right scheduling-icon">
                  <img src="../images/tu_15.png" class="right scheduling-icon">
                </p>
                <p class="mt10 to-grow-message">青花菜(西兰花)-青秀花菜</p>
                <span class="font12 color-gray" style="margin:3px 0 0 30%">12天</span>
                <p style="margin-top:-5px;">
                  <span class="bg-green grow-time" style="width:40%"></span>
                  <span class="bg-gray grow-time" style="width:60%"></span>
                  <span class="left color-gray font12">4.12</span>
                  <img src="../images/cccc_07.png" height="12" width="12" style=" margin-left:23%">
                  <span class="right color-gray font12">5.12</span>
                </p>
              </div>  
              <div class="grow-message hide">
                <span class="close-grow">X</span>
                <div class="left grow-message-img">
                  <img src="../images/cccc_11.png" class="grow-rule-img" height="46" width="46">
                  <img src="../images/grow.png">
                  <span>BJ-01-01号大棚 番杏(番杏)</span>
                </div>
                <div class="tab tab-mess">
                  <ul class="tab-message">
                    <li class="tab-head">农事信息</li>
                    <li class="tab-head bg-green">种植信息</li>
                    <li class="tab-head">环境监控</li>
                  </ul>
                  <img src="../images/border-right.jpg" class="left border-mess-left">
                  <div class="tab-cont hide grow-mess nongshi">
                     <a href="growRecord.html" class="to-record">
                       <img src="../images/tu_03.png" height="16" width="16" style="vertical-align: sub;"><span style="margin-top:4px;">农事评估</span>
                     </a>
                     <img src="../images/pinggu.png" class="record-img">
                     <table class="border" border="1">
                       <tr>
                         <td><</td>
                         <td>2017-01</td>
                         <td>></td>
                       </tr>
                       <tr>
                         <td>十一月小</td>
                         <td style="font-size: 50px;">12</td>
                         <td>星期六</td>
                       </tr>
                       <tr>
                         <td></td>
                         <td>
                          <span>发布时间：08:00</span>
                          <span>农事内容：浇水</span><br>
                          <span>工时：4.0小时</span>
                          <span>发布来源：网站、手机</span><br>
                          <span>添加人：榆树农业人局</span>
                        </td>
                         <td></td>
                       </tr>
                     </table>
                  </div>
                  <div class="tab-cont show grow-mess">
                    <div class="grow-mess-user">
                      <p>农户：王忠平</p> 
                      <p>3.9亩/3.93亩</p>
                      <p>工单号：XIHERYGNITTI22</p> 
                      <p>未来一天预产量 0 kg</p>
                      <p>实时市场价格￥4.4元/kg</p>
                    </div>
                    <span class="stop">
                      <img src="../images/cccc_15.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">定植时间 <br> 2016-12-02</span>
                    </span>
                    <span class="stop" style="border-right:0">
                      <img src="../images/cccc_17.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">采收时间 <br> 2016-12-02</span>
                    </span>
                    <span class="stop">
                      <img src="../images/cccc_19.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">种植结束 <br> 2016-12-02</span>
                    </span>
                    <span class="stop">
                      <img src="../images/cccc_21.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">当生长周期前 <br> 2016-12-02</span>
                    </span>
                    <img src="../images/border.png" height="10" width="787" class="mt10">
                    <table class="text-left">
                      <tr>
                        <td></td>
                        <td>一月</td>
                        <td>二月</td>
                        <td>三月</td>
                        <td>四月</td>
                        <td>五月</td>
                        <td>六月</td>
                        <td>七月</td>
                        <td>八月</td>
                        <td>九月</td>
                        <td>十月</td>
                        <td>十一月</td>
                        <td>十二月</td>
                      </tr>
                      <tr>
                        <td>预估产量</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>3.9</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                      </tr>
                      <tr>
                        <td>已收产量</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                      </tr>
                    </table>
                  </div>
                  <div class="tab-cont hide grow-mess huanjing">
                    <div class="grow-mess-user center">
                      <img src="../images/sscd_24.png" height="53" width="60"><br>
                      <p style="line-height: 1.5;">暂未获得环境监控数据！请检查设备是否正常运转，或者联系我们！</p>
                    </div>
                    <span class="stop">
                      <img src="../images/cccc_15.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">空气湿度 <br> --</span>
                    </span>
                    <span class="stop" style="border-right:0">
                      <img src="../images/cccc_17.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">空气温度 <br> 2016-12-02</span>
                    </span>
                    <span class="stop" style="border-right:0">
                      <img src="../images/cccc_19.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">土壤湿度 <br> 2016-12-02</span>
                    </span>
                    <span class="stop">
                      <img src="../images/cccc_21.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">光照 <br> 2016-12-02</span>
                    </span>
                  </div>
                </div>
              </div>       
            </div>
          </div>
          <div class="tab-cont hide">
            <div class="grow-content">
              <img src="../images/xx_11.png" height="12" width="22" class="arrow-grow hide">
              <div class="left grow-img">
                <img src="../images/grow.png">
                <span>面积 10 亩</span>
              </div>
              <div class="left w07">
                <p><span class="color-gray">BJ-01-01号大棚 </span>
                  <a href="#"><img src="../images/cccc_03.png" class="cheduling-icon vs" style="margin-left:10px;"></a> 
                  <img src="../images/tu_21.png" class="right scheduling-icon">
                  <img src="../images/tu_15.png" class="right scheduling-icon">
                </p>
                <p class="mt10 to-grow-message">青花菜(西兰花)-青秀花菜</p>
                <span class="font12 color-gray" style="margin:3px 0 0 30%">12天</span>
                <p style="margin-top:-5px;">
                  <span class="bg-green grow-time" style="width:40%"></span>
                  <span class="bg-gray grow-time" style="width:60%"></span>
                  <span class="left color-gray font12">4.12</span>
                  <img src="../images/cccc_07.png" height="12" width="12" style=" margin-left:23%">
                  <span class="right color-gray font12">5.12</span>
                </p>
              </div>  
              <div class="grow-message hide">
                <span class="close-grow">X</span>
                <div class="left grow-message-img">
                  <img src="../images/cccc_11.png" class="grow-rule-img" height="46" width="46">
                  <img src="../images/grow.png">
                  <span>BJ-01-01号大棚 番杏(番杏)</span>
                </div>
                <div class="tab tab-mess">
                  <ul class="tab-message">
                    <li class="tab-head">农事信息</li>
                    <li class="tab-head bg-green">种植信息</li>
                    <li class="tab-head">环境监控</li>
                  </ul>
                  <img src="../images/border-right.jpg" class="left border-mess-left">
                  <div class="tab-cont hide grow-mess nongshi">
                     <a href="growRecord.html" class="to-record">
                       <img src="../images/tu_03.png" height="16" width="16" style="vertical-align: sub;"><span style="margin-top:4px;">农事评估</span>
                     </a>
                     <img src="../images/pinggu.png" class="record-img">
                     <table class="border" border="1">
                       <tr>
                         <td><</td>
                         <td>2017-01</td>
                         <td>></td>
                       </tr>
                       <tr>
                         <td>十一月小</td>
                         <td style="font-size: 50px;">12</td>
                         <td>星期六</td>
                       </tr>
                       <tr>
                         <td></td>
                         <td>
                          <span>发布时间：08:00</span>
                          <span>农事内容：浇水</span><br>
                          <span>工时：4.0小时</span>
                          <span>发布来源：网站、手机</span><br>
                          <span>添加人：榆树农业人局</span>
                        </td>
                         <td></td>
                       </tr>
                     </table>
                  </div>
                  <div class="tab-cont show grow-mess">
                    <div class="grow-mess-user">
                      <p>农户：王忠平</p> 
                      <p>3.9亩/3.93亩</p>
                      <p>工单号：XIHERYGNITTI22</p> 
                      <p>未来一天预产量 0 kg</p>
                      <p>实时市场价格￥4.4元/kg</p>
                    </div>
                    <span class="stop">
                      <img src="../images/cccc_15.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">定植时间 <br> 2016-12-02</span>
                    </span>
                    <span class="stop" style="border-right:0">
                      <img src="../images/cccc_17.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">采收时间 <br> 2016-12-02</span>
                    </span>
                    <span class="stop">
                      <img src="../images/cccc_19.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">种植结束 <br> 2016-12-02</span>
                    </span>
                    <span class="stop">
                      <img src="../images/cccc_21.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">当生长周期前 <br> 2016-12-02</span>
                    </span>
                    <img src="../images/border.png" height="10" width="787" class="mt10">
                    <table class="text-left">
                      <tr>
                        <td></td>
                        <td>一月</td>
                        <td>二月</td>
                        <td>三月</td>
                        <td>四月</td>
                        <td>五月</td>
                        <td>六月</td>
                        <td>七月</td>
                        <td>八月</td>
                        <td>九月</td>
                        <td>十月</td>
                        <td>十一月</td>
                        <td>十二月</td>
                      </tr>
                      <tr>
                        <td>预估产量</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>3.9</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                      </tr>
                      <tr>
                        <td>已收产量</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                      </tr>
                    </table>
                  </div>
                  <div class="tab-cont hide grow-mess huanjing">
                    <div class="grow-mess-user center">
                      <img src="../images/sscd_24.png" height="53" width="60"><br>
                      <p style="line-height: 1.5;">暂未获得环境监控数据！请检查设备是否正常运转，或者联系我们！</p>
                    </div>
                    <span class="stop">
                      <img src="../images/cccc_15.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">空气湿度 <br> --</span>
                    </span>
                    <span class="stop" style="border-right:0">
                      <img src="../images/cccc_17.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">空气温度 <br> 2016-12-02</span>
                    </span>
                    <span class="stop" style="border-right:0">
                      <img src="../images/cccc_19.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">土壤湿度 <br> 2016-12-02</span>
                    </span>
                    <span class="stop">
                      <img src="../images/cccc_21.png"> 
                      <span style=" margin-bottom: 30px;line-height: 25px;">光照 <br> 2016-12-02</span>
                    </span>
                  </div>
                </div>
              </div>       
            </div>
          </div>
          <div class="tab-cont hide"></div>
        </div>
      
        <div class="page">
          <div class="left">
            <span class="mr20">共21条</span>
            <span>共2页</span>
          </div>
          <div class="digg">
            <span class="change">上一页</span>
            <a href="#?page=1" class="current">1</a>
            <a href="#?page=2">2</a>
            <a href="#?page=3">3</a> ...
            <a href="#?page=199">10</a>
            <span href="#?page=2" class="change">下一页</span>
            <span>跳转 <input type="text" value="2"></span>
            <span class="go">GO</span>
          </div>
        </div>
      </div>
  </div>
  
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/grop.js"></script>

</html>
