<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>种植管理</title>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/management.css">
</head>

<body>
  <header></header>
  <aside></aside>
  <div class="scheduling-main">
    <nav class="nav-head">
      <span>产中管理<i class="color-gray arrow">></i>种植管理</span>
    </nav>
    <div class="scheduling-content">
     
    
    </div>
   
    <!-- 编辑采收-->
    <div class="dialog-scheduling recovery-add-content">
      <div class="dialog-content">
        <p class="center border-bottom pb10 mb20">采收记录<span class="right color-gray close-add">X</span></p>
        <div class="add-detail mb30 overflow">
            <p class="mb20">
              <span class="">采收作物：BJ-01-01号大棚番茄(红色)</span>
              <span class="right" style="margin-right: 100px;">等级： 一等品</span> 
            </p>
            <p class="mb20">
              <span>采收重量：800.0 公斤</span>
              <span class="right" style="margin-right: 108px;">单价：2.4 元 </span>
            </p>
            <p class="mb20" style="margin-left: 14px;">
              <span>采收人：王忠平</span>
              <span class="right" style="margin-right: 67px;">采收时间：2015-08-10</span>
            </p>
            <p class="remarks">
              <span>备注：</span>
              <span></span>
            </p>
        </div>
      </div>
    </div>  
  </div>
  
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/grop.js"></script>

</html>
