<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>种植管理</title>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/management.css">
</head>

<body>
  <header></header>
  <aside></aside>
  <div class="scheduling-main">
    <nav class="nav-head">
      <span>产中管理<i class="color-gray arrow">></i>种植管理</span>
    </nav>
    <div class="scheduling-content">
    </div>
    <!-- 打印采收 -->
    <div class="dialog-scheduling recovery-edit-content">
      <div class="dialog-content scheduling-detail">
        <p class="center border-bottom pb10">榆树市农业局<a class="right color-gray close-add" href="recoveryRecord.html">X</a></p>
         <p class="text-left mt20">入库批次：ROK99837635355  2017-03-02 <span class="ml30">操作人：榆树农业局</span> <span class="right">采收人：王忠平</span></p>
        <table class="bg-table border" border="1">
          <tr>
            <td>地块</td>
            <td>名称</td>
            <td>等级</td>
            <td>重量</td>
            <td>单位</td>
            <td>单价</td>
            <td>备注</td>
          </tr>
          <tr>
            <td>BJ-01-01号大棚</td>
            <td>皇菊</td>
            <td>一等品</td>
            <td>200.0</td>
            <td>斤</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <p class="center mt20 mb10">
          <span class="mr20">总计：</span>
          <span class="mr20">收货人：</span><span >确认签字：</span></p>
        <div class="center mt20">
          <span class="button bg-yellow mr20">保存</span>
          <a class="button bg-gray close-add" href="recoveryRecord.html">返回</a>
        </div>
      </div>
    </div>  
  </div>
  
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/grop.js"></script>

</html>
