<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>种植管理</title>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/management.css">
</head>

<body>
  <header></header>
  <aside></aside>
  <div class="scheduling-main">
    <nav class="nav-head">
      <span>产中管理<i class="color-gray arrow">></i>种植管理</span>
    </nav>
    <div class="scheduling-content">
      <div class="scheduling-search">
        <input type="text" placeholder="搜索种植作物或地块">
        <button>搜索</button>
        <span class="delete">导出</span>
        <span class="scheduling-add">添加</span>
      </div>
      <div class="scheduling-detail">
        <div class="tab">
          <ul>
            <li class="tab-head">全部</li>
            <li class="tab-head bg-green">当前种植</li>
            <li class="tab-head">历史种植</li>
            <li class="tab-head">计划种植</li>
          </ul>
          <div class="tab-cont hide"><div class="grow-content">
              <div class="left grow-img">
                <img src="../images/grow.png">
                <span>面积 10 亩</span>
              </div>
              <div class="left w07">
                <p><span class="color-gray">BJ-01-01号大棚 </span>
                  <a href="#"><img src="../images/c_31.png" class="cheduling-icon" style="margin-left:10px;"></a> 
                  <img src="../images/tu_21.png" class="right scheduling-icon">
                  <img src="../images/tu_15.png" class="right scheduling-icon">
                </p>
                <p class="mt10"><a href="#">青花菜(西兰花)-青秀花菜</a></p>
                <span class="font12 color-gray" style="margin:3px 0 0 30%">12天</span>
                <p style="margin-top:-5px;">
                  <span class="bg-green grow-time" style="width:40%"></span>
                  <span class="bg-gray grow-time" style="width:60%"></span>
                  <span class="left color-gray font12">4.12</span>
                  <span class="right color-gray font12">5.12</span>
                </p>
              </div>         
            </div>
            <div class="grow-content">
              <div class="left grow-img">
                <img src="../images/grow.png">
                <span>面积 10 亩</span>
              </div>
              <div class="left w07">
                <p><span class="color-gray">BJ-01-01号大棚 </span>
                  <a href="#"><img src="../images/c_31.png" class="cheduling-icon" style="margin-left:10px;"></a> 
                  <img src="../images/tu_21.png" class="right scheduling-icon">
                  <img src="../images/tu_15.png" class="right scheduling-icon">
                </p>
                <p class="mt10"><a href="#">青花菜(西兰花)-青秀花菜</a></p>
                <span class="font12 color-gray" style="margin:3px 0 0 30%">12天</span>
                <p style="margin-top:-5px;">
                  <span class="bg-green grow-time" style="width:40%"></span>
                  <span class="bg-gray grow-time" style="width:60%"></span>
                  <span class="left color-gray font12">4.12</span>
                  <span class="right color-gray font12">5.12</span>
                </p>
              </div>         
            </div>
            <div class="grow-content">
              <div class="left grow-img">
                <img src="../images/grow.png">
                <span>面积 10 亩</span>
              </div>
              <div class="left w07">
                <p><span class="color-gray">BJ-01-01号大棚 </span>
                  <a href="#"><img src="../images/c_31.png" class="cheduling-icon" style="margin-left:10px;"></a> 
                  <img src="../images/tu_21.png" class="right scheduling-icon">
                  <img src="../images/tu_15.png" class="right scheduling-icon">
                </p>
                <p class="mt10"><a href="#">青花菜(西兰花)-青秀花菜</a></p>
                <span class="font12 color-gray" style="margin:3px 0 0 30%">12天</span>
                <p style="margin-top:-5px;">
                  <span class="bg-green grow-time" style="width:40%"></span>
                  <span class="bg-gray grow-time" style="width:60%"></span>
                  <span class="left color-gray font12">4.12</span>
                  <span class="right color-gray font12">5.12</span>
                </p>
              </div>         
            </div>
            <div class="grow-content">
              <div class="left grow-img">
                <img src="../images/grow.png">
                <span>面积 10 亩</span>
              </div>
              <div class="left w07">
                <p><span class="color-gray">BJ-01-01号大棚 </span>
                  <a href="#"><img src="../images/c_31.png" class="cheduling-icon" style="margin-left:10px;"></a> 
                  <img src="../images/tu_21.png" class="right scheduling-icon">
                  <img src="../images/tu_15.png" class="right scheduling-icon">
                </p>
                <p class="mt10"><a href="#">青花菜(西兰花)-青秀花菜</a></p>
                <span class="font12 color-gray" style="margin:3px 0 0 30%">12天</span>
                <p style="margin-top:-5px;">
                  <span class="bg-green grow-time" style="width:40%"></span>
                  <span class="bg-gray grow-time" style="width:60%"></span>
                  <span class="left color-gray font12">4.12</span>
                  <span class="right color-gray font12">5.12</span>
                </p>
              </div>         
            </div>
          </div>
          <div class="tab-cont show">
            <div class="grow-content">
              <div class="left grow-img">
                <img src="../images/grow.png">
                <span>面积 10 亩</span>
              </div>
              <div class="left w07">
                <p><span class="color-gray">BJ-01-01号大棚 </span>
                  <a href="#"><img src="../images/c_31.png" class="cheduling-icon" style="margin-left:10px;"></a> 
                  <img src="../images/tu_21.png" class="right scheduling-icon">
                  <img src="../images/tu_15.png" class="right scheduling-icon">
                </p>
                <p class="mt10"><a href="#">青花菜(西兰花)-青秀花菜</a></p>
                <span class="font12 color-gray" style="margin:3px 0 0 30%">12天</span>
                <p style="margin-top:-5px;">
                  <span class="bg-green grow-time" style="width:40%"></span>
                  <span class="bg-gray grow-time" style="width:60%"></span>
                  <span class="left color-gray font12">4.12</span>
                  <span class="right color-gray font12">5.12</span>
                </p>
              </div>         
            </div>
            <div class="grow-content">
              <div class="left grow-img">
                <img src="../images/grow.png">
                <span>面积 10 亩</span>
              </div>
              <div class="left w07">
                <p><span class="color-gray">BJ-01-01号大棚 </span>
                  <a href="#"><img src="../images/c_31.png" class="cheduling-icon" style="margin-left:10px;"></a> 
                  <img src="../images/tu_21.png" class="right scheduling-icon">
                  <img src="../images/tu_15.png" class="right scheduling-icon">
                </p>
                <p class="mt10"><a href="#">青花菜(西兰花)-青秀花菜</a></p>
                <span class="font12 color-gray" style="margin:3px 0 0 30%">12天</span>
                <p style="margin-top:-5px;">
                  <span class="bg-green grow-time" style="width:40%"></span>
                  <span class="bg-gray grow-time" style="width:60%"></span>
                  <span class="left color-gray font12">4.12</span>
                  <span class="right color-gray font12">5.12</span>
                </p>
              </div>         
            </div>
            <div class="grow-content">
              <div class="left grow-img">
                <img src="../images/grow.png">
                <span>面积 10 亩</span>
              </div>
              <div class="left w07">
                <p><span class="color-gray">BJ-01-01号大棚 </span>
                  <a href="#"><img src="../images/c_31.png" class="cheduling-icon" style="margin-left:10px;"></a> 
                  <img src="../images/tu_21.png" class="right scheduling-icon">
                  <img src="../images/tu_15.png" class="right scheduling-icon">
                </p>
                <p class="mt10"><a href="#">青花菜(西兰花)-青秀花菜</a></p>
                <span class="font12 color-gray" style="margin:3px 0 0 30%">12天</span>
                <p style="margin-top:-5px;">
                  <span class="bg-green grow-time" style="width:40%"></span>
                  <span class="bg-gray grow-time" style="width:60%"></span>
                  <span class="left color-gray font12">4.12</span>
                  <span class="right color-gray font12">5.12</span>
                </p>
              </div>         
            </div>
          </div>
          <div class="tab-cont hide">
            <div class="grow-content">
              <div class="left grow-img">
                <img src="../images/grow.png">
                <span>面积 10 亩</span>
              </div>
              <div class="left w07">
                <p><span class="color-gray">BJ-01-01号大棚 </span>
                  <a href="#"><img src="../images/c_31.png" class="cheduling-icon" style="margin-left:10px;"></a> 
                  <img src="../images/tu_21.png" class="right scheduling-icon">
                  <img src="../images/tu_15.png" class="right scheduling-icon">
                </p>
                <p class="mt10"><a href="#">青花菜(西兰花)-青秀花菜</a></p>
                <span class="font12 color-gray" style="margin:3px 0 0 30%">12天</span>
                <p style="margin-top:-5px;">
                  <span class="bg-green grow-time" style="width:40%"></span>
                  <span class="bg-gray grow-time" style="width:60%"></span>
                  <span class="left color-gray font12">4.12</span>
                  <span class="right color-gray font12">5.12</span>
                </p>
              </div>         
            </div>
          </div>
          <div class="tab-cont hide"><div class="grow-content">
              <div class="left grow-img">
                <img src="../images/grow.png">
                <span>面积 10 亩</span>
              </div>
              <div class="left w07">
                <p><span class="color-gray">BJ-01-01号大棚 </span>
                  <a href="#"><img src="../images/c_31.png" class="cheduling-icon" style="margin-left:10px;"></a> 
                  <img src="../images/tu_21.png" class="right scheduling-icon">
                  <img src="../images/tu_15.png" class="right scheduling-icon">
                </p>
                <p class="mt10"><a href="#">青花菜(西兰花)-青秀花菜</a></p>
                <span class="font12 color-gray" style="margin:3px 0 0 30%">12天</span>
                <p style="margin-top:-5px;">
                  <span class="bg-green grow-time" style="width:40%"></span>
                  <span class="bg-gray grow-time" style="width:60%"></span>
                  <span class="left color-gray font12">4.12</span>
                  <span class="right color-gray font12">5.12</span>
                </p>
              </div>         
            </div>
            <div class="grow-content">
              <div class="left grow-img">
                <img src="../images/grow.png">
                <span>面积 10 亩</span>
              </div>
              <div class="left w07">
                <p><span class="color-gray">BJ-01-01号大棚 </span>
                  <a href="#"><img src="../images/c_31.png" class="cheduling-icon" style="margin-left:10px;"></a> 
                  <img src="../images/tu_21.png" class="right scheduling-icon">
                  <img src="../images/tu_15.png" class="right scheduling-icon">
                </p>
                <p class="mt10"><a href="#">青花菜(西兰花)-青秀花菜</a></p>
                <span class="font12 color-gray" style="margin:3px 0 0 30%">12天</span>
                <p style="margin-top:-5px;">
                  <span class="bg-green grow-time" style="width:40%"></span>
                  <span class="bg-gray grow-time" style="width:60%"></span>
                  <span class="left color-gray font12">4.12</span>
                  <span class="right color-gray font12">5.12</span>
                </p>
              </div>         
            </div></div>
        </div>
        <div class="page">
          <div class="left">
            <span class="mr20">共21条</span>
            <span>共2页</span>
          </div>
          <div class="digg">
            <span class="change">上一页</span>
            <a href="#?page=1" class="current">1</a>
            <a href="#?page=2">2</a>
            <a href="#?page=3">3</a> ...
            <a href="#?page=199">10</a>
            <span href="#?page=2" class="change">下一页</span>
            <span>跳转 <input type="text" value="2"></span>
            <span class="go">GO</span>
          </div>
        </div>
      </div>
    </div>

</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/grop.js"></script>

</html>
