<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>种植管理</title>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/management.css">
</head>

<body>
  <header></header>
  <aside></aside>
  <div class="scheduling-main">
    <nav class="nav-head">
      <span>产中管理<i class="color-gray arrow">></i>种植管理</span>
    </nav>
    <div class="scheduling-content" style="margin:16px;padding:20px">
      <div class="record-title">
        <div class="record-title-img">
          <img src="../images/z2_03.png" class="record-icon">
          <img src="../images/pinggu.png" class="record-zhiwu">
        </div>
        <div class="record-title-content">
          <p class="border-bottom pb10 mb20">番杏</p>
          <span class="mb20" style="margin-right: 150px;">生产区域：北沟村 BJ-01-01 号大棚</span>
          <span>种植标准：有机</span><br>
          <span class="mb20" style="margin-right: 222px;">定植时间：2017-04-12</span>
          <span>采收时间：2017-04-17</span>
        </div>
      </div>
      <div class="record-content">
        <p class="border-bottom pb10 mb44">农事记录 
         <span class="to-grow-nongshi">
         <img src="../images/tu_03.png" height="16" width="16" style="vertical-align: sub;">
         <span style="margin-top:4px;">农事评估</span>
        </span>
        </p>
        <ul class="timeline">
          <li>
            <time>04/14<br><span style="font-size:13px;">2017</span></time>
            <div class="timeline-content">
                <p class="border-bottom pb10 mb20">农事内容：浇水</p>
                <p><span style="margin-right: 222px;">投入品： 无</span><span>工时：1.0小时</span></p>
                <p><span style="margin-right: 144px;">操作时间： 2017-04-13</span><span>执行人：王忠平</span></p>
                <p>农事图片：无</p>
                <p>备注：无</p>
            </div>
          </li>
          <li>
            <time>04/14<br><span style="font-size:13px;">2017</span></time>
            <div class="timeline-content">
                <p class="border-bottom pb10 mb20">农事内容：浇水</p>
                <p><span style="margin-right: 222px;">投入品： 无</span><span>工时：1.0小时</span></p>
                <p><span style="margin-right: 144px;">操作时间： 2017-04-13</span><span>执行人：王忠平</span></p>
                <p>农事图片：无</p>
                <p>备注：无</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
     <!-- 农事评估 -->
    <div class="dialog-scheduling scheduling-nongshi-content hide">
      <div class="dialog-content">
      <p class="center border-bottom pb10">农事评估<span class="right color-gray close-nongshi">X</span></p>
      <p class="text-left border-bottom pb10 mt20">农事评估信息</p>
      <div class="add-detail mb20">
        <p class="mt10 mb20">农事计划执行统计</p>
          <p class="mb10">
            <span class="mr44">农事计划项: <span class="dash"></span>0件</span>
           <span class="mr30">农事记录: <span class="dash"></span>3件</span>
          <p>
          <p class="mb10">
            <span class="mr30">农事图片上传: <span class="dash"></span>0件</span>
           <span class="mr30">农事计划达成: <span class="dash"></span>0.00%</span>
          </p>
        <p class="mt20 mb20">定植后</p>
        <span class="mr44">浇水: <span class="color-green">1</span> 次</span>
        <span class="mr44">浇水: <span class="color-green">1</span> 次</span>
      </div>
      <p class="text-left border-bottom pb10 mt20 mb30">总结</p>
      <p class="mb20 overflow"></p>
      <div class="center mt20">
        <span class="button bg-yellow mr20">保存</span>
        <span class="button bg-gray close-nongshi">返回</span>
      </div>
      </div>
    </div>
  </div>
  
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/grop.js"></script>

</html>
