<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>农事管理</title>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/management.css">
  <link rel="stylesheet" href="../css/daterangepicker.css" />
</head>

<body>
  <header></header>
  <aside></aside>
  <div class="scheduling-main">
    <nav class="nav-head">
      <span>产中管理<i class="color-gray arrow">></i>农事管理</span>
    </nav>
    <div class="scheduling-content">
      <div class="recovery-banner">
        <a  href="recoveryRecord.html">采收记录</a>
        <a>预采管理</a>
        <a class="recovery-banner-active" href="recoverySale.html">预售管理</a>
      </div>
      <div class="scheduling-search">
        <span class="mr10">预采收时间</span>
        <input type="date" class="mr10">
        <button style="height: 30px;line-height: 22px;">搜索</button>
        <p class="right sale-record mr10">
          <a href="recoverySale.html">今日</a>
          <a href="recoverySaleNextday.html" style="background-color: #e0e0e0;">明日</a>
          <a href="recoverySaleHistory.html">历史</a>
        </p>
      </div>
      <div class="scheduling-detail bg-table">
        <table class="text-left">
          <tr>
            <th class="table-head">预采收日期</th>
            <th class="table-head">可采收棚数量</th>
            <th class="table-head">作物种类数量</th>
            <th class="table-head">未来一天总采收量</th>
            <th class="table-head">未来一周总采收量</th>
            <th class="table-head">入录人</th>
            <th class="table-head">入录时间</th>
            <th class="table-head">操作</th>
          </tr>
        </table>     
        <p class="none-message"> 很遗憾，今天没有可售菜品信息 <br> 每天准确的菜品信息，是销售部门掌握菜品出产情况，制定销售目标的重要保证，请产品部门及时更新哦！</p>
      </div>
    </div>
  </div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/recovery.js"></script>
</html>
