<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>农事管理</title>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/management.css">
</head>

<body>
  <header></header>
  <aside></aside>
  <div class="scheduling-main">
    <nav class="nav-head">
      <span>产中管理<i class="color-gray arrow">></i>农事管理</span>
    </nav>
    <div class="scheduling-content">
      <div class="recovery-banner">
        <span class="recovery-banner-active">采收记录</span>
        <span>预采管理</span>
        <span>预售管理</span>
      </div>
      <div class="scheduling-search">
        <input type="text">
        <button>搜索</button>
        <span><img src="../images/tu_21.png"  class="delete-condition">清除所有条件</span>
        <span class="delete">导出</span>
        <span class="scheduling-add">添加</span>
      </div>
      <div class="scheduling-detail bg-table">
        <table>
          <tr >
            <td class="table-head">农事管理表</td>
            <td class="table-head"></td>
            <td class="table-head"></td>
            <td class="table-head"></td>
          </tr>
          <tr>
            <td>05月18日</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>BJ-01-01号大棚(芹菜)</td>
            <td>单价 <span class="color-yellow">2.5</span> 元</td>
            <td>采收量 <span class="color-yellow">800.0</span> 斤</td>
            <td class="right">
              <span  class="mr20 scheduling-view pointer"><img src="../images/tu_18.png" class="scheduling-icon">查看</span>
              <span class="mr20 scheduling-edit pointer"><img src="../images/tu_15.png" class="scheduling-icon">编辑</span>
              <span class="mr20 scheduling-done pointer"><img src="../images/tu_01.png" class="scheduling-icon">确认</span>
              <span class="scheduling-delete pointer" ><img src="../images/tu_21.png" class="scheduling-icon">删除</span>
            </td>
          </tr>
       
        </table>
      </div>
    
    </div>
   
  
  </div>
  
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/grop.js"></script>

</html>
