<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>排产管理</title>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/management.css">
</head>

<body>
  <header></header>
  <aside></aside>
  <div class="scheduling-main">
    <nav class="nav-head">
      <span>生产计划<i class="color-gray arrow">></i>排产管理</span>
    </nav>
    <div class="scheduling-content">
      <div class="scheduling-search">
        <input type="text">
        <button>搜索</button>
        <span class="delete">导出</span>
        <span class="scheduling-add">添加</span>
      </div>
      <div class="scheduling-detail bg-table">
        <table class="text-left">
          <tr>
            <th class="table-head">大棚名称</th>
            <th class="table-head">排产作物</th>
            <th class="table-head">种植品种</th>
            <th class="table-head">排产面积</th>
            <th class="table-head">排产时间</th>
            <th class="table-head">结束时间</th>
            <th class="table-head">操作</th>
          </tr>
          <tr>
            <td>插秧机</td>
            <td>开心农村</td>
            <td>玉米</td>
            <td>100m²</td>
            <td>2017-04-10</td>
            <td>2017-04-10</td>
            <td>
              <span  class="mr20 scheduling-view pointer"><img src="../images/tu_18.png" class="scheduling-icon">查看</span>
              <span class="mr20 scheduling-edit pointer"><img src="../images/tu_15.png" class="scheduling-icon">编辑</span>
              <span class="mr20 pointer"><img src="../images/tu_01.png" class="scheduling-icon">确认</span>
              <span class="pointer" ><img src="../images/tu_21.png" class="scheduling-icon">删除</span>
            </td>
          </tr>
          <tr>
            <td>插秧机</td>
            <td>开心农村</td>
            <td>玉米</td>
            <td>100m²</td>
            <td>2017-04-10</td>
            <td>2017-04-10</td>
            <td>
              <span  class="mr20 scheduling-view pointer"><img src="../images/tu_18.png" class="scheduling-icon">查看</span>
              <span class="mr20 scheduling-edit pointer"><img src="../images/tu_15.png" class="scheduling-icon">编辑</span>
              <span class="mr20 pointer"><img src="../images/tu_01.png" class="scheduling-icon">确认</span>
              <span class="pointer" ><img src="../images/tu_21.png" class="scheduling-icon">删除</span>
            </td>
          </tr>
          <tr>
            <td>插秧机</td>
            <td>开心农村</td>
            <td>玉米</td>
            <td>100m²</td>
            <td>2017-04-10</td>
            <td>2017-04-10</td>
            <td>
              <span  class="mr20 scheduling-view pointer"><img src="../images/tu_18.png" class="scheduling-icon">查看</span>
              <span class="mr20 scheduling-edit pointer"><img src="../images/tu_15.png" class="scheduling-icon">编辑</span>
              <span class="mr20 pointer"><img src="../images/tu_01.png" class="scheduling-icon">确认</span>
              <span class="pointer" ><img src="../images/tu_21.png" class="scheduling-icon">删除</span>
            </td>
          </tr>
        </table>
        <div class="page">
          <div class="left">
            <span class="mr20">共21条</span>
            <span>共2页</span>
          </div>
          <div class="digg">
            <span class="change">上一页</span>
            <a href="#?page=1" class="current">1</a>
            <a href="#?page=2">2</a>
            <a href="#?page=3">3</a> ...
            <a href="#?page=199">10</a>
            <span href="#?page=2" class="change">下一页</span>
            <span>跳转 <input type="text" value="2"></span>
            <span class="go">GO</span>
          </div>
        </div>
      </div>
    </div>
    <!-- 添加排产管理未选基地-->
  <!--   <div class="dialog-scheduling scheduling-add-content hide">
      <div class="dialog-content">
        <p class="center border-bottom pb16">选择基地<span class="right color-gray close-add">X</span></p>
        <div class="add-detail center border-bottom">
        <span  class="jidi-address">北沟村</span><span class="jidi-address">进步村</span><span class="jidi-address">北沟村</span> <br>
        <span class="jidi-address">北沟村</span><span class="jidi-address">进步村</span><span class="jidi-address">北沟村</span> <br>
        <span class="jidi-address">北沟村</span><span class="jidi-address">进步村</span><span class="jidi-address">北沟村</span> <br>
        </div>
      <div class="center mt20">
            <span class="button bg-yellow mr20">保存</span>
            <span class="button bg-gray close-add">返回</span>
          </div>
      </div>
    </div> -->
    <!-- 查看排产管理 -->
    <div class="dialog-scheduling scheduling-view-content hide">
      <div class="dialog-content">
          <p class="center border-bottom pb10 mb10">查看排产模型 <span class="right color-gray close-view">X</span></p>
        <div class="scheduling-detail">
          <table class="bg-table border center" border="1">
            <tr>
              <td>排产种植区:</td>
              <td>BJ-01-01号大棚</td>
              <td>排产类型:
                </td>
                <td>计划排产</td>
            </tr>
            <tr>
              <td>排产种植区:</td>
              <td>BJ-01-01号大棚</td>
              <td>排产类型:
                </td>
                <td>计划排产</td>
            </tr>
            <tr>
              <td>排产种植区:</td>
              <td>BJ-01-01号大棚</td>
              <td>排产类型:</td>
              <td>计划排产</td>
            </tr>
          </table>
        </div>
        <div class="scheduling-detail mt20">
          <p class="text-left border-bottom pb10 mb10">亩商品量(kg/亩)</p>
          <table class="border table-month" border="1">
            <tr>
              <td>1月份</td>
              <td></td>
              <td>2月份</td>
              <td></td>
              <td>3月份</td>
              <td></td>
            </tr>
            <tr>
              <td>4月份</td>
              <td></td>
              <td>5月份</td>
              <td></td>
              <td>6月份</td>
              <td></td>
            </tr>
            <tr>
              <td>7月份</td>
              <td></td>
              <td>8月份</td>
              <td></td>
              <td>9月份</td>
              <td></td>
            </tr>
            <tr>
              <td>10月份</td>
              <td></td>
              <td>11月份</td>
              <td></td>
              <td>12月份</td>
              <td></td>
            </tr>
          </table>
          <p class="text-right mt20">总产量: 0kg/亩</p>
        </div>
        <div class="center"><span class="bg-gray  button close-view">返回</span></div>
      </div>
    </div>
    <!-- 编辑排查管理 -->
    <div class="dialog-scheduling scheduling-edit-content hide">
      <div class="dialog-content mt40">
        <p class="center border-bottom pb10 mb10">编辑排产模型 <span class="right color-gray close-edit">X</span></p>
        <div class="scheduling-detail">
          <table>
            <tr>
              <td><span class="mr10">作物品种:</span>金妃</td>
              <td><span class="mr10">种植品种:</span>金妃</td>
            </tr>
            <tr>
              <td><span class="mr10">种植标准:</span>
                <select class="select-160">
                  <option>有机</option>
                  <option>无机</option>
                </select>
              </td>
              <td><span class="mr10">种植环境:</span>
                <select class="select-160">
                  <option>高温</option>
                  <option>常温</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><span class="mr10">定值时间:</span>
                <select class="select-72">
                  <option>一月</option>
                  <option>二月</option>
                  <option>三月</option>
                  <option>四月</option>
                  <option>五月</option>
                  <option>六月</option>
                  <option>七月</option>
                  <option>八月</option>
                  <option>九月</option>
                  <option>十月</option>
                  <option>十一月</option>
                  <option>十二月</option>
                </select> -
                <select class="select-72">
                  <option>上旬</option>
                  <option>中旬</option>
                  <option>下旬</option>
                </select>
              </td>
              <td></td>
            </tr>
            <tr>
              <td><span class="mr10">采收开始:</span>
                <select class="select-72">
                  <option>一月</option>
                  <option>二月</option>
                  <option>三月</option>
                  <option>四月</option>
                  <option>五月</option>
                  <option>六月</option>
                  <option>七月</option>
                  <option>八月</option>
                  <option>九月</option>
                  <option>十月</option>
                  <option>十一月</option>
                  <option>十二月</option>
                </select> -
                <select class="select-72">
                  <option>上旬</option>
                  <option>中旬</option>
                  <option>下旬</option>
                </select>
              </td>
              <td><span class="mr10">采收结束:</span>
                <select class="select-72">
                  <option>一月</option>
                  <option>二月</option>
                  <option>三月</option>
                  <option>四月</option>
                  <option>五月</option>
                  <option>六月</option>
                  <option>七月</option>
                  <option>八月</option>
                  <option>九月</option>
                  <option>十月</option>
                  <option>十一月</option>
                  <option>十二月</option>
                </select> -
                <select class="select-72">
                  <option>上旬</option>
                  <option>中旬</option>
                  <option>下旬</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div class="scheduling-detail mt20">
          <p class="text-left border-bottom pb10 mb10">亩商品量(kg/亩)</p>
          <table class="border table-month" border="1">
            <tr>
              <td>1月份</td>
              <td></td>
              <td>2月份</td>
              <td></td>
              <td>3月份</td>
              <td></td>
            </tr>
            <tr>
              <td>4月份</td>
              <td></td>
              <td>5月份</td>
              <td></td>
              <td>6月份</td>
              <td></td>
            </tr>
            <tr>
              <td>7月份</td>
              <td></td>
              <td>8月份</td>
              <td></td>
              <td>9月份</td>
              <td></td>
            </tr>
            <tr>
              <td>10月份</td>
              <td></td>
              <td>11月份</td>
              <td></td>
              <td>12月份</td>
              <td></td>
            </tr>
          </table>
          <p class="text-right mt20">总产量: 0kg/亩</p>
          <div class="center mt20">
            <span class="button bg-yellow mr20">保存</span>
            <span class="button bg-gray close-edit">返回</span>
          </div>
        </div>
      </div>
    </div>

</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/main.js"></script>

</html>
