<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>产量汇总</title>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/management.css">
</head>

<body>
  <header></header>
  <aside></aside>
  <div class="scheduling-main">
    <nav class="nav-head">
      <span>生产计划<i class="color-gray arrow">></i>产量汇总</span>
    </nav>
    <div class="scheduling-content">
      <div class="scheduling-search">
        <span>年份：</span>
        <select class="select-210 mr20">
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
        </select>
        <span>作物品种：</span>
        <select class="select-210 mr20">
          <option>玉米</option>
          <option>水稻</option>
          <option>大豆</option>
        </select>
        <span class="delete">导出</span>
      </div>
      <div class="scheduling-detail bg-table">
        <table class="text-left border table-sum" border="0">
          <tr>
            <th class="table-head">作物名</th>
            <th class="table-head">一月(kg)</th>
            <th class="table-head">二月(kg)</th>
            <th class="table-head">三月(kg)</th>
            <th class="table-head">四月(kg)</th>
            <th class="table-head">五月(kg)</th>
            <th class="table-head">六月(kg)</th>
            <th class="table-head">七月(kg)</th>
            <th class="table-head">八月(kg)</th>
            <th class="table-head">九月(kg)</th>
            <th class="table-head">十月(kg)</th>
            <th class="table-head">十一月(kg)</th>
            <th class="table-head">十二月(kg)</th>
            <th class="table-head">总计</th>
          </tr>
          <tr>
           <td><a href="schedulingMgmt.html"><img src="../images/tu_18.png" class="scheduling-icon">香菜</a></td>
           <td>1</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>1</td>
          </tr>
          <tr>
          <td><a href="schedulingMgmt.html"><img src="../images/tu_18.png" class="scheduling-icon">芹菜</a></td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>1</td>
           <td>1</td>
          </tr>
          <tr>
          <td><a href="schedulingMgmt.html"><img src="../images/tu_18.png" class="scheduling-icon">白菜</a></td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>1</td>
           <td>1</td>
          </tr>
          <tr>
           <td>小计</td>
           <td>1</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>0</td>
           <td>2</td>
           <td>3</td>
          </tr>
        </table>
      </div>
    </div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/main.js"></script>
</html>
