<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>排产管理</title>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/management.css">
</head>
<body>
  <header></header>
  <aside></aside>
  <div class="scheduling-main"> 
   <nav class="nav-head">
     <span>生产计划<i class="color-gray arrow">></i>排产管理<i class="color-gray arrow">></i>查看排产计划</span>
   </nav>
   <div class="scheduling-content">
     
    <div class="scheduling-detail">
      <table class="bg-table border" border="1">
        <tr>
          <td>排产种植区:</td>
          <td>BJ-01-01号大棚</td>
          <td>排产类型:<td/>
          <td>计划排产</td>
        </tr>
       <tr>
          <td>排产种植区:</td>
          <td>BJ-01-01号大棚</td>
          <td>排产类型:<td/>
          <td>计划排产</td>
        </tr>
         <tr>
          <td>排产种植区:</td>
          <td>BJ-01-01号大棚</td>
          <td>排产类型:<td/>
          <td>计划排产</td>
        </tr>
      </table>
       <div class="center mt20"><span class="button bg-gray close-add">返回</span></div>
      <div class="page">
        <div class="left">
          <span class="mr20">共21条</span>
          <span>共2页</span>
        </div>  
        <div class="digg"> 
          <span class="disabled change">上一页</span>
          <a href="#?page=1" class="current">1</a>
          <a href="#?page=2">2</a>
          <a href="#?page=3">3</a>
          ...
          <a href="#?page=199">10</a>
          <a href="#?page=2" class="change">下一页</a>
          <span>跳转 <input type="text" value="2"></span>
          <span class="go">GO</span>
        </div> 
      </div>
    </div>
  </div>
</body>
<script src="../js/jquery.min.js"></script>
<!-- <script src="../js/angular.js"></script> -->
<script src="../js/main.js"></script>
</html>